{:paths ["src" "resources"]
 :deps {metosin/reitit-ring {:mvn/version "0.5.15"}
        org.clojure/clojure {:mvn/version "1.10.3"}
        ring/ring {:mvn/version "1.9.4"}
        datascript/datascript {:mvn/version "1.3.1"}
        hiccup/hiccup {:mvn/version "1.0.5"}
        com.atlassian.commonmark/commonmark {:mvn/version "0.17.0"}
        com.atlassian.commonmark/commonmark-ext-gfm-tables {:mvn/version "0.17.0"}
        com.atlassian.commonmark/commonmark-ext-yaml-front-matter {:mvn/version "0.17.0"}
        clygments/clygments {:mvn/version "2.0.2"}}
 :aliases
 {:run {:main-opts ["-m" "fr.reuz.main"]}
  :build {:deps {io.github.clojure/tools.build {:git/tag "v0.6.8"
                                                :git/sha "acea7f0"}}
          :ns-default build}}}
