{:linters {:datalog-syntax {:level :off}
           :keyword-binding {:level :warning}
           :main-without-gen-class {:level :warning}
           :namespace-name-mismatch {:level :warning}
           :reduce-without-init {:level :warning}
           :redundant-fn-wrapper {:level :warning}
           :single-key-in {:level :warning}
           :unsorted-required-namespaces {:level :warning}}}
